body{
    background-color:rgb(60, 60, 60);
}

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: minmax(200px auto);
      padding: 30px;
        gap: 2px;
      }

.uno{
    grid-column: 1;
    grid-row: 1;

}
.dos{ grid-column: 2;
    grid-row: 1;
    width: 400px;
    height: 400px;}

.tres{ grid-column: 3;
    grid-row: 1;
    width:  400px;
    height:  400px;}
.cuatro{ grid-column: 1;
    grid-row: 2;
    width: 400px;
    height:  400px;}
.cinco{ grid-column: 2;
    grid-row: 2;
    width: 400px;
    height:  400px;}
.seis{ grid-column: 3;
    grid-row: 2;
    width: 400px;
    height:  400px;}