body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #0c0b0a;
}

.formatoPagina {
    width: 45%;
    margin: auto;
    padding: 20px;
    background-color:white;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

.seccion {
    margin-bottom: 20px;
   
}
.seccionPerfil{  margin-bottom: 20px;
text-align: center;
width: 100%;
}

.seccionImportante h2{
    border-bottom: none;
}
h2 {
    border-bottom: 4px solid #000000;
    padding-bottom: 5px;
    text-align: center;
}

h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.seccion p {
    margin: 5px;
}
.seccionImportante {
    margin: 5px;
padding: 10px;
box-shadow: 0 0 2px black;
border-radius: 4px;
border: 2px solid #9babb9;
background-color: #3f5db7;
color: white;
height: 90%;

}
.subseccion {
    margin: 0px ;
    padding: 0px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-item {
    width: 47%;
}