body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #413b3b;
}

.contenedor {
    width: 60%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 20px black;
    background-color: #e0cdcd;

}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

.seccion{
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #4c7faf;
    padding-bottom: 5px;
}

h3 {
    color: #4c7faf;
    margin-bottom: 10px;
}

.seccion p{
    margin: 5px;
}

.subseccion{
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid #4c7faf;
}